{% extends 'base.twig' %}


{% block content %}
<article>
    <header class="quote"><h1><span class="icon{{quote.icon_quote}}"></span> {{quote.text_quote}} <small>{{quote.author_quote}}</small></h1></header>
    <section class="centered"><a class="btn" href="{{ href('Home.create') }}">Create a new draft</a></section>
    <footer></footer>
</article>
{% endblock %}