{% extends 'base.twig' %}

{% block content %}
<article>
    <header><h1 role="title" contenteditable="true">Untitled draft</h1></header>
    <nav role="toolbar">
    	<ul>
    		<li><button data-action="preview"><span class="icon-eye3"></span> <span class="legend">Preview</span></button></li>
    		<li><button data-action="edit" style="display:none;"><span class="icon-pen"></span> <span class="legend">Edit</span></button></li>
    		<li><button data-action="fullscreen"><span class="icon-expand2"></span> <span class="legend">Full screen</span></button></li>
    	</ul>
    </nav>
    <section>
    <textarea id="draft-aera">
    	Write here !
    </textarea>
    <div id="marked-aera">
    	
    </div>
    </section>
    <footer></footer>
</article>
{% endblock %}